  .body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #222;
      color: white;
  }
  
  .display {
      background-color: #000;
      border: solid 1px black;
      box-shadow: 3px 3px 3px #0fe;
      display: flex;
      border-radius: 20px;
      flex-direction: row;
      padding: 0px 20px;
  }
  
  h1 {
      padding: 0px 0px;
  }
  
  .buttons {
      margin-top: 50px;
      padding: 0px 10px;
      background-color: grey;
      border: solid 1px #0c0101;
      cursor: pointer;
      border-radius: 10px;
      box-shadow: 3px 3px 3px #0fe;
  }
  
  button {
      cursor: pointer;
      background-color: #0fd74f;
      border: none;
      border-radius: 5px;
      font-size: 26px;
      color: black;
      margin: 10px;
      box-shadow: 2px 2px 2px rgb(63, 9, 225);
  }
  
  button:hover {
      transform: scale(0.95);
      box-shadow: 2px 2px 2px white;
      color: white;
      background-color: black;
  }
  
  button:active {
      transform: scale(1.5);
      color: black;
      background-color: white;
  }