body {
    color: white;
    background-color: black;
    place-self: center;
    align-items: center;
}

label {
    color: red;
    font-size: 20px;
    text-align: center;
}

#l {
    color: red;
}