body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    display: none;
    margin-top: 20px;
    color: white;
    background-color: rgb(19, 2, 2);
    font-size: 10px;
    text-align: center;
    align-items: center;
}