body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolds;
    text-align: center;
    /* align-self: center; */
    /* justify-content: center; */
    /* place-items: center; */
}

button {
    border: 1px solid rgb(11, 10, 93);
    box-shadow: 10px 20px 20px rgb(164, 124, 124) solid;
    font-size: 16px;
    text-align: center;
    align-self: center;
    justify-content: center;
    place-items: center;
    background-color: blue;
    color: aqua;
    padding: 5px 5px;
    width: auto;
    margin: 0px;
}

h1 {
    border: 1px rgb(19, 18, 18) solid;
    display: inline-block;
    border-radius: 100px;
    min-width: 100px;
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite;
    font-size: 50px;
}